/*the styles for the elements*/
html{background-color: #E5E5E4;}

* {
	margin: 0;
	padding: 0; }
	
/*styles for the body*/
body {
	font-family: "Cormorant Garamond";
	font-size: 105%;
	margin: .5em auto;
	width: 100%;
	background-color: #E5E5E4;
}

/*styles for the links*/
a {color: #0F0F0F; line-height: 1em;}
a:focus, a:hover {color: #74C4B0;}

/******************************/
/*styles for the header*/
header{
	height: 150px;
	position: relative;
	text-align: center;
}

header h1 {
	font-family: "Cormorant Garamond";
	font-size: 350%;
	color: #E5E5E4 ;
	margin: auto ;
	width: 100%;
	line-height: .4em;
	text-shadow: .04em .04em #194152;
	 position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: .5em;
 }
 header h2 {
	font-family: "Abel";
	font-size: 125%;
	color: #E5E5E4 ;
	padding: 0 9em;
	line-height: .4em;
	font-style: italic;
	text-shadow: .03em .03em #28698A;
 }
 header img{width: 100%; height: 100%; }


/******************************/
main{
	clear: both;
	padding: .5em 2em;
	text-align: center;
	background-color: #E5E5E4;
}
main img{width: 100%; max-width: 900px;}
section {padding: 1em;}
.project{width: 30%; float: left; padding: 1em;}
/**styles for the section**/
 main h1 {
	font-family: "Libre Baskerville";
	text-align: center;
	font-size: 140%;
}
main h2 {
	font-family: "Abel";
	text-align: center;
	font-size: 120%;
	padding-top: 1em;
	color: #292929;
}
main h3{
	font-size: 100%;
	padding-bottom: .3em;
	text-align: center;
	font-family: "Libre Baskerville";
	color: #292929;
}
main h4{
	color: #236B8E;
	font-size: 90%;
	padding-bottom: .3em;
	text-align: center;
	font-weight: light;
	font-family: "Cormorant Garamond";
}

main p{
	width: 90%;
	margin: auto;
	font-size: 90%;
	padding-bottom: 2em;	
	padding: 1.5em;
	line-height: 1.4em;
	text-indent: 1em;
	clear: both;
	color: #292929;
}

/******************************/
/*styles for the footer*/
footer{
	clear: both;
	padding: .5em 0;
	margin-top: 0;
	border-top: 1px solid #318578;
}
footer p{
	font-family: Spectral;
	font-size: 70%;
	color: #030D11;	
	text-align: center;
	border-top: 1px ;
}

.slicknav_menu {display: none;}
/*************************************
*styles for the responsive web design*
**************************************/
/* tablet landscape to standard */
@media only screen and (max-width: 1240px) {
	form legend {font-size: 60%;}
	
}
/* tablet portrait to standard */
@media only screen and (max-width: 800px) {
	body {font-size: 100%;}
	header{height: 100px;}
	header h1{	top: 50%;}
	main{padding: 0;}
	p{padding: 0;}
	.project{clear: both; width: 100%; padding: 0; padding-bottom: .5em;}
	
}
/*iPhone 7 portrait*/
@media only screen and (max-width: 750px) {
	header{height: 80px;}
	/*header img {width: 90px;}*/
	header h1 {
	font-size: 210%;
	padding: .8em 0 .2em;
	}
	header h2 {
	font-size: 105%;
	padding: .8em 0 .2em;
	}
	main h4{padding: 1em;}
	main p{padding: 1em;}
}
	
/*Galaxy S7 portrait*/
@media only screen and (max-width: 720px) {
}
/* Iphone 6 & GalaxyS6 landscape */
@media only screen and (max-width: 667px) {
}


/*Nexus and iPhone6 Plus portrait*/
@media only screen and (max-width: 414px) {

}

/* iphone 6 portrait */
@media only screen and (max-width: 375px) {

}
/*Galaxy S6 portrait*/
@media only screen and (max-width: 360px) {

}
/*iPhone 5 portrait*/
@media only screen and (max-width: 320px) {

}

