/*
	Name: Rebecca Flake
	Current Date: 7/17/2017
	Class.section: CGS1821.CM1
	Assignment: Final Project
	Language: CSS3
	Purpose: Stylesheet for the single column pages on the site
	Linked to: index.html, swatching.html, hat_pattern_html, 
	scarf_pattern.html, survey.html, blocking.html
	*/


/*the styles for the elements*/
html{background-color: #E5E5E4;}

* {
	margin: 0;
	padding: 0; }
	
/*styles for the body*/
body {
	font-family: Jaldi, Arial, Helvatica, sans-serif;
	font-size: 100%;
	margin: .5em auto;
	width: 98%;
	max-width: 950px; 
	background-color: #FAFAFA;
}

/*styles for the links*/
a {color: #20768A; line-height: 1em;}
a:focus, a:hover {color: #74C4B0;}

/******************************/
/*styles for the header*/
header{
	background-color: #FAFAFA;
	height: 120px;
}
#header1 {
	width: 15%;
	height: 100%;
	display: block;
	float: left;
	z-index: 999;
}
#header2{
	width: 85%;
	display: block;
	float: left;
}
header h1 {
	font-family: "Spectral";
	font-size: 320%;
	color: #EDEDEC;
	padding: .65em 0 0 2.8em;
	line-height: .4em;
	text-shadow: .04em .04em #194152;
 }
 header h2 {
	font-family: "Spectral";
	font-size: 125%;
	color: #194152;
	padding: 0 9em;
	line-height: .4em;
	font-style: italic;
	text-shadow: .03em .03em #28698A;
 }
/*styles for the navigation menu*/
#nav_menu ul {
	list-style-type: none;
	position: relative;
	width: 100%;
}
#nav_menu ul li {
	width: 20%;
	float: left;
}	
#nav_menu ul li a {
    display: block;
    text-align: center;
	padding: .5em 0;
    text-decoration: none;
    background-color: #318578;
    font-weight: normal;
	color: white;
	width: 100%;
}

#nav_menu ul ul {
	width: 100%;
    overflow: hidden;
	max-height: 0;
    position: absolute;
	top: 100%;
	z-index: 999;
		/*transition so the dropdown menus appear gradually*/
	-webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}
#nav_menu ul ul li {float: none;}
#nav_menu a.current {color: #85EDCA;}
#nav_menu ul li:hover > ul, #nav_menu ul li:focus > ul{max-height: 600%;}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {background-color: #74C4B0;}

/******************************/
main{
	clear: left;
	padding: .5em 2em;
}
section {padding: 1em;}
/**styles for the section**/
section h1 {
	font-family: "Spectral";
	text-align: center;
	font-size: 140%;
}
section h2 {
	font-family: "Spectral";
	text-align: center;
	font-size: 120%;
	padding-top: 1em;
}
section h3{
	font-size: 100%;
	padding-bottom: .3em;
	text-align: center;
	font-family: "Spectral";
}
section p{
	width: 90%;
	margin: auto;
	font-size: 90%;
	padding-bottom: 2em;	
	padding: 1.5em;
	line-height: 1.4em;
	text-indent: 1em;
	clear: both;
}
/**styles for the list elements**/
	/*Unordered list and ordered list styles*/
 section ol, ul {
	font-size: 90%;
	line-height: 1.4em;
	margin-left: auto;
}
section ul li{
	width: 90%; 
	margin-left: 7%; 
	list-style-type: none;
	padding-top: .5em;
	}
section ol li {
	width: 90%; 
	margin-left: 8%;
	padding-top: .5em;
	}
	/*styles for the div id on the Blocking page */
section #blocking {
	border: 2px solid #318578;
	width: 90%;
	margin: auto;
}
section #blocking p{
	width: 90%;
	margin: auto;
}

/*Style for the text animation based on: https://daneden.github.io/animate.css*/
.pulse {  
  animation: pulse 2s;
  -webkit-animation: pulse 2s;
  -moz-animation: pulse 2s;
  -o-animation: pulse 2s;
  font-size: 140%;
  padding-top: 1em;
}
@keyframes pulse {
  from {transform: scale3d(1, 1, 1);}
	50% {transform: scale3d(1.07, 1.00, 1.07); color: #5EA190;}
  to {transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes pulse {
  from {transform: scale3d(1, 1, 1);}
	50% {transform: scale3d(1.07, 1.00, 1.07); color: #5EA190;}
  to {transform: scale3d(1, 1, 1);}
}
@-moz-keyframes pulse {
  from {transform: scale3d(1, 1, 1);}
	50% {transform: scale3d(1.07, 1.00, 1.07); color: #5EA190;}
  to {transform: scale3d(1, 1, 1);}
}
@-o-keyframes pulse {
  from {transform: scale3d(1, 1, 1);}
	50% {transform: scale3d(1.07, 1.00, 1.07); color: #5EA190;}
  to {transform: scale3d(1, 1, 1);}
}

/*Styles for the div elements on the pattern pages*/	
#terms, #method {border-top: 1px solid #318578;}
#printButton {
	text-align: center;
	width: 20%;
	margin: .5em 40%;
	padding: .2em;
	border: 1px solid #318578;
	border-radius: 3px;
	background-color: #318578;
}
#printButton:hover, #printButton:focus{background-color: #74C4B0;}
/**Media Styles**/
section figure {
	width: 90%;
	margin: auto;
}
section figcaption {
	font-weight: normal;
	font-size: 100%;
	font-family: Spectral;
	text-align: center;
}
section figure img {
	display: block;
	width: 500px;
	margin: auto;
	padding: 0em;
	border: 1px solid #157A6E;
}
#blocking img{
	display: block;
	width: 400px;
	margin: .5em auto;
	padding: 0;
	border: 1px solid #157A6E;
}
.multiImage{				/*Figure with multiple images in it, displayed in a horizontal row on large screens and a vertical column on small screens*/
	display: block;
	width: 100%;
	margin: auto;
}
.smallimg {				/*class for a small sized image*/
	width: 250px;
	margin: .5em 1em ;
	float: left;			
	}	
/**CSS slideshow animation**/
.slideshow {
	position: relative;
	width: 500px;
	height: 500px;
	margin: auto;
}
.slideshow figure{
	width: 100%;
	margin: 0;
	position: absolute;
}
.slideshow figure img{display: block;}
.slideshow:hover figure figcaption{
	transition: opacity .5s;
	opacity: 1;
}
.slideshow figcaption {
	position: absolute;
	top: 0;
	background-color: #030D11;
	color: #F0F6FA;
	font-size: 90%;
	padding: .5em 3em;
	width: 83%;
	display: block;
	margin:0;
	opacity: .6;
	transition: opacity .5s;
}
	/*Animation definition*/
.slideshow figure:nth-child(1) {
	animation: xfade 80s 70s infinite;
	-webkit-animation: xfade 80s 70s infinite;
	-moz-animation: xfade 80s 70s infinite;
	-o-animation: xfade 80s 70s infinite;
	}
.slideshow figure:nth-child(2) {
	animation: xfade 80s 60s infinite;
	-webkit-animation:  xfade 80s 60s infinite;
	-moz-animation:  xfade 80s 60s infinite;
	-o-animation:  xfade 80s 60s infinite;
	}
.slideshow figure:nth-child(3) {
	animation: xfade 80s 50s infinite;
	-webkit-animation:  xfade 80s 50s infinite;
	-moz-animation:  xfade 80s 50s infinite;
	-o-animation:  xfade 80s 50s infinite;
	}
.slideshow figure:nth-child(4) {
	animation: xfade 80s 40s infinite;
	-webkit-animation:xfade 80s 40s infinite;
	-moz-animation:xfade 80s 40s infinite;
	-o-animation:xfade 80s 40s infinite;
}
.slideshow figure:nth-child(5) {
	animation: xfade 80s 30s infinite;
	-webkit-animation: xfade 80s 30s infinite;
	-moz-animation: xfade 80s 30s infinite;
	-o-animation: xfade 80s 30s infinite;
	}
.slideshow figure:nth-child(6) {
	animation: xfade 80s 20s infinite;
	-webkit-animation: xfade 80s 20s infinite;
	-moz-animation: xfade 80s 20s infinite;
	-o-animation: xfade 80s 20s infinite;
	}
.slideshow figure:nth-child(7) {
	animation: xfade 80s 10s infinite;
	-webkit-animation: xfade 80s 10s infinite;
	-moz-animation: xfade 80s 10s infinite;
	-o-animation: xfade 80s 10s infinite;
	}
.slideshow figure:nth-child(8) {
	animation: xfade 80s 0s infinite;
	-webkit-animation: xfade 80s 0s infinite;
	-moz-animation: xfade 80s 0s infinite;
	-o-animation: xfade 80s 0s infinite;
	}
	/*Animation keyframes*/
@-webkit-keyframes xfade{
   0%{opacity: 1;}
   10.5% {opacity:1;}
   12.5%{ opacity: 0;}
   98% {opacity:0;}
   100% {opacity:1; }
}
@-moz-keyframes xfade{
   0%{opacity: 1;}
   10.5% {opacity:1;}
   12.5%{ opacity: 0;}
   98% {opacity:0;}
   100% {opacity:1; }
}
@-o-keyframes xfade{
   0%{opacity: 1;}
   10.5% {opacity:1;}
   12.5%{ opacity: 0;}
   98% {opacity:0;}
   100% {opacity:1; }
}
@keyframes xfade{
   0%{opacity: 1;}
   10.5% {opacity:1;}
   12.5%{ opacity: 0;}
   98% {opacity:0;}
   100% {opacity:1; }
}

/**Styles for the form**/
fieldset {
	margin: auto .2em 1em;
	padding: .5em;
	border-radius: 5px;
	background-color: #F2F2F1;
	clear: both;
	position: relative;
	}
.innerFieldSet {
	margin: 0;
	border: none;
	font-size: 100%;
	float: left;
	width: 30%;
}
	/*styles for the floated fieldsets, within div elements*/
.leftField {
	width: 50%;
	float: left;
	}
.rightField{
	width: 50%;
	float: right;
	}
.leftFieldLrg {
	width: 50%;
	float: left;
}
.rightFieldLrg{
	width: 50%;
	float: right;
	}
		/*Styles that set the height for the floated fieldsets*/
.leftField fieldset, .rightField fieldset{height: 60px;}
.leftFieldLrg fieldset, .rightFieldLrg fieldset{ height: 80px;}
.leftFieldLrg .innerFieldSet, .rightFieldLrg .innerFieldSet{height: 40px;}
#time1 {float:left; width:40%;}
#time2{float: left; width:60%;}
	/*Styles for the labels and legends*/
label {
	float: left;
	width: 15%;
	font-weight: normal;
	text-align: left;
	font-size: 85%;
	padding-left: 1em;
}
.leftField label {
	float: left;
	width: 40%;
}
.rightField label {
	width: 20%;
	padding-top: .4em;
	padding-bottom: 1.1em;
}
.innerFieldSet label {
	padding: 0 2em;
	margin: 0;
	width: 50%;
	font-size: 90%;
	line-height: 0;
	padding-top: .5em;
}
#informativeLabel{
	width: 20%;
	text-align: left;
}
#nameLabel{width: 20%;} 
#ageLabel {
	width: 30%;
	padding-top: .6em;
}
#time2 label {
	padding: .5em .3em 0 2em; 
	float: left; 
	font-size: 85%; 
	position: absolute; 
	line-height: 0;}
.column1Radio label{
	float: left;
	width: 50%;
	padding-left: 2em;
	position: absolute;
	font-size: 90%;
	line-height: 0;
	padding-top: .5em;
}
.column2Radio label{
	float: left;
	width: 50%;
	padding-left: 2em;
	position: absolute;
	font-size: 90%;
	line-height: 0;
	padding-top: .5em;
}
legend {
	font-family: Spectral;
	font-weight: bold;
	font-size: 80%;}
	/*Styles for the input*/	
input {
	width: 16em;
	margin-left: 1.5em;
	margin-bottom: .6em;
}
input:focus {border: 2px solid  #9BD9C2;}
input[type="radio"] {
	width: 10px;
	margin: .1em .4em .3em;
	float: left;
	display: block;
	position: absolute;
}
input[type="text"]{
	padding: .1em .2em;
	font-size: 90%;
	border-radius: 3px;
	margin: .35em 1em;
	width: 90%;
}
#nameLabel {width: 10%; float: left; padding-top: .6em;}
#name {width: 70%; float: left;}
#email, #username{
	padding: .1em .2em;
	font-size: 85%;
	border-radius: 3px;
	margin: 0 1em;
	width: 15em;
}	
input[type="number"]{
	padding: .1em .2em;
	font-size: 85%;
	border-radius: 3px;
	width: 20%;
}
#knittime{
	padding: .1em .2em;
	font-size: 90%;
	border-radius: 3px;
	width: 40%;
	margin-left: 1em;
}
#ageLabel {
	width: 35%;
	padding-top: .6em;
	text-align: left;
}
#age {
	width: 10%;
	float: left;
	margin-top: .5em;
	padding: .05em .2em;
}
#slidervisual {
	margin-top: .6em;
	margin-left: .2em;
	margin-right: .5em;
	width: 30%;
	float: right;
}
textarea {
	margin: 1em;
	width: 96%;
	padding: .3em;
	font-size: 90%;
	border-radius: 5px;
	}
	/*Styles for the select input*/
select {
	padding: .1em;
	margin-top: .5em;
	margin-left:  1.5em;
	width: 50%;
	font-size: 85%;
	border-radius: 5px;
}
select optgroup option{
	line-height: 1.2em;
	font-size: 85%;
}
	/*Styles for the double column of radio buttons*/
.column1Radio {
	float:left;
	width: 50%;
}
.column2Radio {
	float:right;
	width: 50%;
}
	/*Styles for the buttons*/
#buttons {
	border: none;
	background-color: #FAFAFA;
	font-size: 100%;
	}
#button {
	float: left;
	width: 30%;
	margin: .5em 5em;
	border-radius: 3px;
	padding: .2em;
	background-color: #318578;
	border: 1px solid #318578;
}
 #reset {
	float: right;
	width: 30%;
	margin: .5em 5em;
	border-radius: 3px;
	padding: .2em;
	background-color: #318578;
	border: 1px solid #318578;
}
#button:hover, #button:focus{background-color: #74C4B0;}
 #reset:hover, #reset:focus{background-color: #74C4B0;}
/*Styles for the privacy statement paragraph*/
#privacy {
	text-align: center;
	font-size: 70%;
	}

/******************************/
/*styles for the footer*/
footer{
	padding: .5em 0;
	margin-top: 0;
	border-top: 1px solid #318578;
}
footer p{
	font-family: Spectral;
	font-size: 70%;
	color: #030D11;	
	text-align: center;
	border-top: 1px ;
}

.slicknav_menu {display: none;}
/*************************************
*styles for the responsive web design*
**************************************/
/* tablet landscape to standard */
@media only screen and (max-width: 1240px) {
	form legend {font-size: 60%;}
	
}
/* tablet portrait to standard */
@media only screen and (max-width: 800px) {
	body {font-size: 100%;}
	header{height: 100px;}
	#header1 {width: 15%;}
	#header2{width: 85%:}
	/*Navigation*/
	#nav_menu {display: none;}
	.slicknav_menu{
		display: block;
		background-color: #417463 !important;	
	}	
	main {margin: .5em 0;}	
	section {
	float: none;		
	margin-left: 0;
	padding: 0;
	}
	section p {padding: 1.5em 0;}
	/*media*/
	section figure img {margin: auto;}
	.smallimg {width: 300px;}



	/*Form*/
		/*fieldsets and divs*/
	fieldset{ margin: auto 1em 1em; }
	.innerFieldSet {
	float: none;
	width: 90%;
	padding-left: 0;
	}
	.leftField,.rightField, .leftFieldLrg,  .rightFieldLrg{
	width: 100%;
	float: none;
	}
	.leftField fieldset, .rightField fieldset{height: 10%;}
	.leftFieldLrg fieldset, .rightFieldLrg fieldset{height: 15%;}
	.leftFieldLrg .innerFieldSet, .rightFieldLrg .innerFieldSet{height: 100%;}
		/*inputs*/
	textarea{width: 90%;}
	.column1Radio, 	.column2Radio{float: none; width: 100%;}
	#name{width: 60%;}
	input[type="radio"] {margin: 0 1em;float: none;}
	.column1Radio radio, .column2Radio radio{float: right;}
	#age {
	width: 20%;
	float: right;
	padding: .5em .2em;
	}
	#slidervisual {
	margin-top: .6em;
	margin-left: 32%;
	width: 30%;
	float: none;
	}	
	#button, #reset {
	float: none;
	margin: 1% 35%;
	}	
		/*labels*/
	legend {font-size: 85%;}
	.column1Radio label, .column2Radio label{width: 50%;}
	.innerFieldSet label {padding-top: 0;}
	#yesEmail, #noEmail, #yesRav, #noRav {float: none; margin-top: .5em; }
	.YNLabel {float: none; padding-top: 0;}
	.rightField label {width: 25%;}
	.leftField label{float: none;}
	#informativeLabel{
		width: 30%;
		text-align: left;
	}
	#nameLabel{width: 20%;} 
	#ageLabel {
	width: 35%;
	padding-top: .6em;
	float: none;
	}
}
/*iPhone 7 portrait*/
@media only screen and (max-width: 750px) {
	section{ padding: .5em 0;}
	section h3 {padding-top: .5em;}
	section figure img{margin: auto;}
	/*form*/
	legend {font-size: 85%;}
	label, .innerFieldSet label {width: 12%;}
	.longlabel label{width: 14%;}
	#age {
	width: 20%;
	float: right;
	padding: .5em .2em;
	margin-right: 5em;
	}
	select {
	width: 50%;
	font-size: 80%;
	}
	#button, #reset {
	float: none;
	width: 50%;
	margin: .5em 25%;
	border-radius: 3px;
	padding: .2em;
	}	
}
	
/*Galaxy S7 portrait*/
@media only screen and (max-width: 720px) {
	/*Media*/
	section figure img{margin: auto;}
}
/* Iphone 6 & GalaxyS6 landscape */
@media only screen and (max-width: 667px) {
		select {
	width: 80%;
	font-size: 80%;
	}
	/*media*/
	.slideshow figcaption {width: 69%;}
	section figure img{
		width: 250px;
		margin: 0;}
	#blocking img{
	width: 300px;
	margin: auto;
}
	.slideshow {
	max-width: 240px;
	height: 240px;
	}
	/*Form*/
	form label {
	float: left;
	width: 30%;
	}
}


/*Nexus and iPhone6 Plus portrait*/
@media only screen and (max-width: 414px) {
	#header1 {display: none;}
	#header2{
	width: 100%;
	height: 75%;
	margin-top: .5em;
	}
	/*Media*/
	.slideshow figcaption {width: 65%;}
	.slideshow img {width: 100%;}
	#indeximg {max-width: 300px;}
	#blocking img{
	width: 220px;
	margin: .3em auto;
	}
	section figure img {
	width: 250px;
	margin: auto;
	}
	/*Print buttons*/
	#patternpagebutton {width: 100%;}
	#printButton{display: block; font-size: 80%; width: 40%; margin: auto;}
	/*Form*/
	label {font-size: 90%;}
	#informativeLabel{width: 30%;}
	#ageLabel { padding-top: 0; width: 50%;}
	#age {margin-right: 5%;}
	input[type="text"]{width: 80%;}
	 #email, #username{width: 70%;}
	 #othercrafts, #suggestions {width: 90%; margin-left: 0;}
	 #slidervisual {
	margin-top: 12%;
	margin-left: 10%;
	width: 30%;
	float: none;
	}
}

/* iphone 6 portrait */
@media only screen and (max-width: 375px) {
	header{height: 80px;}
	#header1 {display: none;}
	#header2{
	width: 100%;
	height: 75%;
	margin-top: .5em;
	}
	/*header img {width: 90px;}*/
	header h1 {
	font-size: 210%;
	padding: .8em 0 .2em 3.2em;
	}
	header h2 {
	font-size: 105%;
	padding: .8em 0 .2em 7.8em;
	}
	/*media*/
	section figure img {
	width: 250px;
	margin: auto;
	}
	.slideshow figcaption {width: 65%;}
	.slideshow figure img{width: 100%;}
}
/*Galaxy S6 portrait*/
@media only screen and (max-width: 360px) {
	/*Media*/
	section figure img {
	width: 250px;
	margin: auto;
	}	
}
/*iPhone 5 portrait*/
@media only screen and (max-width: 320px) {
	/*Form*/
	#ageLabel {width: 50%; font-size: 80%;}
	#age {margin-right: 2%;}
	#experience, #selfish {width: 70%;}
}












