/*
	Name: Rebecca Flake
	Current Date: 7/17/2017
	Class.section: CGS1821.CM1
	Assignment: Final Project
	Language: CSS3
	Purpose: Stylesheet for the multi-column pages on the site
	Linked to: basics.html, yarn_and_needles.html, increases.html
decreases.html, bind_off.html
*/

/*HTML background*/
html{background-color: #E5E5E4;}

* {
	margin: 0;
	padding: 0; }
	
/*styles for the body*/
body {
	font-family: Jaldi, Arial, Helvatica, sans-serif;
	font-size: 100%;
	margin: .5em auto;
	width: 98%;
	max-width: 950px; 
	background-color: #FAFAFA;	
}

/*styles for the links*/
a {color: #3D9183; line-height: 1em;}
a:focus, a:hover {color: #9BD9C2;}
.to_top {
	font-size: 85%; 
	display: block; 
	padding: .2em .5em;
	line-height: 1.4em;
}
/******************************/
/*styles for the header*/
header{
	background-color: #FAFAFA;
	height: 120px;
}
#header1 {
	width: 15%;
	height: 100%;
	display: block;
	float: left;
	z-index: 999;
}
#header2{
	width: 85%;
	display: block;
	float: left;
}
header h1 {
	font-family: "Spectral";
	font-size: 320%;
	color: #EDEDEC;
	padding: .65em 0 0 2.8em;
	line-height: .4em;
	text-shadow: .04em .04em #194152;
 }
 header h2 {
	font-family: "Times New Roman";
	font-size: 125%;
	color: #194152;
	padding: 0 9em;
	line-height: .4em;
	font-style: italic;
	text-shadow: .03em .03em #28698A;
 }
/*styles for the navigation menu*/
#nav_menu ul {
	list-style-type: none;
	position: relative;
	width: 100%
}
#nav_menu ul li {
	width: 20%;
	float: left;
}	
#nav_menu ul li a {
    display: block;
    text-align: center;
	padding: .5em 0;
    text-decoration: none;
    background-color: #318578;
    font-weight: normal;
	color: white;
	width: 100%;
	font-size: 90%;
}

#nav_menu ul ul {
	width: 100%;
    overflow: hidden;
	max-height: 0;
    position: absolute;
	top: 100%;
	z-index: 999;
		/*transition so the dropdown menus appear gradually*/
	-webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}
#nav_menu ul ul li {float: none;}
#nav_menu a.current {color: #85EDCA;}
#nav_menu ul li:hover > ul, #nav_menu ul li:focus > ul{max-height: 600%;}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {background-color: #74C4B0;}

/******************************/
/*Styles for the page content*/
main{
	clear: left;
	padding: .5em;
}
/*Styles for the main section*/
section{
	width: 82%;
	float: right;
	padding: .5em 0 .8em .5em;
}
section h1{
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 140%;
	font-family: "Spectral";
}
section h2{
	text-align: center;
	font-size: 120%;
	font-family: "Spectral";
	width: 100%;
	margin: auto;	
	padding: .5em 0 .5em;
}
section h3{
	text-align: center;
	font-size: 105%;
	font-family: "Spectral";
	padding-top: 1em;
}
section h4{
	font-size: 90%;	
	font-family: "Spectral";
	margin-left: 1.5em;
	padding-top: .5em;
}
section p {
	line-height: 1.4em;
	text-indent: 1em;
	font-size: 90%;
	margin: auto;
	padding-top: .5em;
	padding-bottom: .8em;
	width: 90%;
}
.credit {font-size: 50%;}
/*Styles for the yarn types section on the Yarn and Needles page*/
section #yarntypes {
	padding: .5em 0 0 .5em;
	width: 100%;
	height: 220px;
}
section #yarntypes h3{
	text-align: center;
	padding-bottom: .5em;
}
	/*Styles for the div ids on the Yarn and Needles Page */
section #yarnTypesColumn1 {
	float: left;
	width:50%;
}
section #yarnTypesColumn2 {
	float: right;
	width:50%;
}
section #yarntypes h4 {
	padding-left: 30%;
}
section #yarntypes ul li{
	font-size: 90%;
	line-height: 1.6em;
	list-style-type: none;
	padding-left: 35%;
}

/*styles for the table on the Yarn and Needles page*/
section table{
	border: 1px solid #062420;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}
section table caption{
	font-family: "Spectral";
	font-size: 100%;
	font-weight: bold; 
	text-align: center;
	padding-bottom: .2em;
}
 section table th, td{
	border: 1px solid #062420;
	text-align: center;
	padding: .2em;
 }
 section table tfoot td{
	font-size: 70%;
	text-align: left;}
	
	/*styles for the table striping*/
 section table th{
	color: #CDFFE4;
	font-weight: normal;
 }	
section table thead, tfoot {background-color: #157A6E;}																	/*Header and footer*/
section tbody tr:nth-child(1), tbody tr:nth-child(2), tbody tr:nth-child(3){background-color: #CDFFE4;} /*Lace section*/
section tbody tr:nth-child(4), tbody tr:nth-child(5){background-color: #B1F7DD;}								/*Super-fine section*/
section tbody tr:nth-child(6){background-color: #9BD9C2;}																/*Light section*/
section tbody tr:nth-child(7), tbody tr:nth-child(8){background-color: #79B8A4;}								/*Worsted section*/
section tbody tr:nth-child(9){background-color: #4CA393;}																/*Bulky section*/
section tbody tr:nth-child(10){background-color: #3D9183;}																/*Super Bulky section*/
section tbody tr:nth-child(11){background-color: #318578;}																/*Jumbo section*/


/*styles for the list elements*/
	/*Unordered list and ordered list styles*/
section ul{
	font-size: 80%;	
	line-height: 2em;
	list-style-type: circle;
	margin-left: 2em;
}
section ol {
	font-size: 90%;
	line-height: 1.4em;
	margin-left: 2em;
}
section ul li, section ol li {width: 90%;}
	/*Discriptive list styles*/
section dl{padding: .5em 1em;}
section dt{
	font-family: "Spectral";
	font-weight: normal;
	font-size: 95%;
}
section dd{
	padding: .2em 1em 1em;
	font-style: italic;
	font-size: 90%;
}

/*styles for the media elements*/
section video {
	display: block;
	width: 400px;
	margin: auto;
	padding: 1em;
}
	/*Image styles*/
section img{					/*general image styles*/
	width: 400px;
	margin-left: 2.5em;
	margin-top: .5em;
	padding: 0;
}
.multiImage{					/*Figure with multiple images in it, displayed in a horizontal row on large screens and a vertical column on small screens*/
	display: block;
	width: 100%;
	margin: auto;
}
.singleImage{				/*Figure with a single image. */
	width: 400px;
	display: block;
	margin: auto;
	margin-top: .5em;
	padding: 0;
}
/*.slideshowimg {
	width: 320px;
	padding: 0;
	margin:0;}	*/
.accordion-content, .ui-accordion-content img {
	width: 270px;
	margin-left: 2em;
}		
.medimg {width: 320px;}		/*class for a medium sized image*/
.smallimg {width: 198px;}		/*class for a small sized image*/
	/*Embedded videos*/
.vidWrapper{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.vidWrapper embed {
	position: absolute;
	top: 0;
	left: .5em;
	height: 100%;
	width: 98%;
	border: 1px solid #157A6E;
}
/******************************/

/*Styles for the sidebar*/
aside{
	width: 15%;
	float: left;
	padding-top: .5em;
	margin-left: 1.8em;
}
	/*Styles for the page's navigation menu*/
#nav_list ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 10%
}
#nav_list ul li {
	width: 85%;
	padding: .4em 0;
}	
#nav_list ul li a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 90%;
	background-color: #318578;
	border-radius: 3px;
}
#nav_list a.current {color: #85EDCA;}
#nav_list ul ul {
	width: 100%;
    display: block;
    position: absolute;
	top: 100%;
	z-index: 999;
}
#nav_list ul ul li {float: none;}
#nav_list > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_list ul li a:hover, #nav_list ul li a:focus {background-color: #74C4B0;}
/**Accordion Styles**/
.accordion-title.active, .accordion-title:hover {
    background:#318578;
    /*Type */
   text-decoration:none;
}
.accordion-title {width: 90%;}
.accordion-content, .ui-accordion-content {width: 86%;}
.ui-accordion .ui-accordion-content {padding: 0;}
.accordion-content img {
	margin: .5em .72em;
	width: 230px;
	}

/******************************/

/*styles for the footer*/
footer{
	padding: .5em 0;
	margin-top: .2em;
	border-top: 1px solid #318578;
	clear: both;
}
footer p{
	font-family: Spectral;
	font-size: 70%;
	color: #030D11;	
	text-align: center;
	border-top: 1px ;
}
/************************************************************/
/*Mobile Menu is hidden on larger screens*/
.slicknav_menu {display: none;}

/*************************************
*styles for the responsive web design*
**************************************/

/* tablet landscape */
@media only screen and (max-width: 1024px) {
	/*sidebar navigation*/
	#nav_list ul li a {
		display: block;
		margin-left: .2em;
		padding: .5em;
		font-weight: normal;
		font-size: 90%;
		border-radius: 3px;
	}
}
/* tablet portrait to standard */
@media only screen and (max-width: 800px) {
	body {font-size: 100%;}	
	/*Header styles*/
	main {margin: .5em;}
	/*Section styles*/
	section {
		float: none;
		width: 98%;	
	}
	section p {width: 90%;}
	section h1, h2 {margin-left: 0;}
	/*Media styles*/
	figure .multiImage {
		width: 100%;
		display: block;
		margin: auto;
	}
	figure .multiImage img{margin: auto;}
	.smallimg {width: 300px;}

	/*Sidebar navigation menu*/
	aside {							/*move the aside from the left side to the top of the page on small screens*/
		width: 100%;
		float: none; 
		margin: 0 1.5em;		
	}
	#nav_list {
		width:100%;
		text-align: center;	
	}
	#nav_list ul {
		position: relative;
		width : 100%
	}
	#nav_list ul li a {
		display: block;
		margin: auto;
		padding: .5em 1em;
		font-size: 90%;
		border-radius: 3px;
	}
	#nav_list ul ul {
	width: 100%;
    overflow: hidden;
	max-height: 0;
    position: absolute;
	top: 100%;
	z-index: 999;
		/*transition so the dropdown menus appear gradually*/
	-webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
	}
	#nav_list ul ul li {float: none;}
	#nav_list ul li:hover > ul {max-height: 1000%;}
	#nav_list > ul::after {
		content: "";
		clear: both;
		display: block;
	}
}	
/* iPad and iPad mini portrait */
@media only screen and (max-width: 768px){
	/*Header styles*/
	header{height: 100px;}
	#header1 {width: 15%;}
	#header2{width: 85%;}
	/*Hide the main navigation menu, display the mobile menu*/
	#nav_menu {display: none;}
	.slicknav_menu {
		display: block;
		background-color: #318578 !important;	
	}
	/*Section styles*/
	section h1{
		width: 100%;
		margin: auto;
	}
	section p {font-size: 100%;}
	/*Sidebar navigation*/
	#nav_list {
		width:90%;
		text-align: center;		
	}
	#nav_list ul li a {
		margin-left: 8.5em;
		padding: .5em 1em;
	}
	/*Accordion styles*/
	#accordion {width: 100%; margin: auto;}
	.accordion-title {width: 93%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 88.75%;}
	.ui-accordion .ui-accordion-content, .accordion-title {padding: 0;}
	/*Media styles*/
	section figure img{
		display: block;
		margin: auto;
		padding: .5em;
	}
	section video {
		width: 500px;
		height: 500px;
		margin: auto;
	}
	.medimg {
		width: 400px;
		margin: auto;
	}
	.smallimg {
		width: 400px;
		margin: auto;
	}
	.ui-accordion-content img {
	width: 400px;
	display: block;
	margin: auto;
	padding: .2em 0;
	}	
	/*list*/
	section dl{
		width: 80%;
		margin: auto;
		padding: .5em 0;
	}
}
/*iPhone 7 portrait*/
@media only screen and (max-width: 750px) {
	section #yarntypes h4 {padding-left: 25%;}
	section #yarntypes ul li{
		font-size: 90%;
		list-style-type: none;
		padding-left: 30%;
		line-height: 1.6em;
	}
	/*Accordion styles*/
	.accordion-title {width: 92.5%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 88%;}
	/*Media styles*/
	.medimg {margin: auto;}
	.smallimg {margin: auto;}
}
	
/*Galaxy S7 portrait*/
@media only screen and (max-width: 720px) {
	/*Section styles*/
	section h1 {margin:auto;}
	section h2 {margin:auto;}
	/*Sidebar navigation*/
	#nav_list ul li a {
		margin-left: 7.8em;
		padding: .5em 1em;
	}
	/*Accordion styles*/
	.accordion-content, .ui-accordion-content {width: 87.95%;}
	/*Media styles*/
	#image_rollovers li img {margin: auto;}
	.medimg {margin: auto;}
	.smallimg {margin: auto;}
}
 /* iPhone 6 landscape*/
@media only screen and (max-width: 667px){
	/*Header styles*/
	header h1 {
		font-size: 280%;
		padding: .8em 0 .2em 3.2em;
	}
	/*Section styles*/
	section h1 {
		width: 100%;
		margin: auto;
	}
	section h2 {
		width: 100%;
		margin: auto;
	}
	.accordion-title {width: 91.5%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 86.5%;}
	/*Media styles*/
	.medimg {
		width: 300px;
		margin: auto;	
	}
	.smallimg {
		width: 300px;
		margin: auto;	
	}
	.ui-accordion-content img {
	width: 98%;
	display: block;
	margin: auto;
	padding: .2em 0;
	}	
	#blocking img{
	width: 300px;
	margin: auto;
	}
}

 /*Galaxy S6 landscape */
@media only screen and (max-width: 640px){
	/*Section Styles*/
	section h1 {
		width: 100%;
		margin: auto;
	}	
	/*Sidebar Navigation*/
	#nav_list ul li a {
		margin-left: 6.8em;
		padding: .5em 1em;
	}
	/*Media styles*/
	section img{
		margin: auto;
		width: 300px
	}
	.singleImage {
	width: 300px;
	margin-left: auto;
	}
	.medimg {
		width: 300px;
		margin: auto;	
	}
	.smallimg {
		width: 300px;
		margin: auto;		
	}
	#blocking img{
	width: 300px;
	 margin: .2em auto;
	}
	figure {margin: 0;}
	section video {
		margin-left: auto;
		width: 300px;
		height: 300px;
    }
}

/*iPhone 5 landscape*/
@media only screen and (max-width: 568px) {
	/*Accordion styles*/
	.accordion-title {width: 89.5%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 83.6%;}
	.ui-accordion-content img {width: 300px;}	
}
/*Nexus and iPhone6 Plus portrait*/
@media only screen and (max-width: 414px) {
	#header1 {display: none;}
	#header2{
	width: 100%;
	height: 75%;
	margin-top: .5em;
	}
	/*Section styles*/
	section {padding: 0; margin: 0;}
	section #yarnTypesColumn1 {
		float: left;
		width:50%;
	}
	section #yarnTypesColumn2 {
		float: right;
		width:50%;
	}
	section #yarntypes h4 {padding-left: 9%;}
	section #yarntypes ul li{padding-left: 15%;}
	section table{width: 90%;}
	/*Accordion styles*/
	.accordion-title {width: 87.5%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 79.2%;}	
	.ui-accordion-content img {width: 98%;}	
	/*Sidebar navigation*/
	#nav_list ul li a {
		width: 90%;
		margin-left: auto;
		padding: .5em 2.4em
	}

}

/* iPhone 6 portrait*/
@media only screen and (max-width: 375px) {
	/*Header styles*/
	header{height: 80px;}
	#header1 {display: none;}
	#header2{
	width: 100%;
	height: 75%;
	margin-top: .5em;
	}	
	/*Section styles*/
		section {padding: 0;}
		section h1 {
		margin-left: auto;
	}
	section h2 {margin-left: 0;}	
	section #yarnTypesColumn1 {
		float: left;
		width:50%;
	}
	section #yarnTypesColumn2 {
		float: right;
		width:50%;
	}
	section #yarntypes h4 {padding-left: 9%;}
	section #yarntypes ul li{padding-left: 15%;}
	section table{width: 65%;}
	/*Sidebar navigation*/
	#nav_list ul li a {
		width: 90%;
		margin-left: auto;
		padding: .5em 1.8em
	}
	/*Accordion styles*/
	.accordion-title {width: 86.5%; margin: auto; }
	.accordion-content, .ui-accordion-content {width: 77.4%;}
	/*Media styles*/
	section img {
		width: 250px;
		margin-left: auto;
	}
	.medimg {
		width: 250px;
		margin-left: auto;	
	}
	.smallimg {
		width: 250px;
		margin-left: auto;	
	}
	.singleImage {
	width: 250px;
	margin-left: auto;
	}
	#blocking img{
	width: 250px;
	margin: .2em auto;
	}
	section img {
		width: 250px;
		margin-left: auto;
	}
	.ui-accordion-content img {width: 250px;}	
	section video {
		margin-left: .2em;
		width: 280px;
		height: 280px;
    }

}
/*Galaxy S6 portrait*/
@media only screen and (max-width: 360px) {
	/*Section styles*/
	section h1 {
		width: 100%;
		margin-left: auto;
	}
	section h2 {margin-left: auto;}
	section table {width: 50%;}
	section #yarntypes h4 {padding-left: 3%;}
	section #yarntypes ul li{padding-left:8%;}
	/*Media styles*/
	section img {width: 250px;}
	#blocking  img {width: 220px;}
	.medimg {
		width: 250px;
		margin-left: auto;	
	}
	.smallimg {
		width: 250px;
		margin-left: auto;
	}	
	section video {
		margin-left: auto;
		width: 280px;
    }
	/*Lists*/
	section ol {
		margin: 0 1em;
		padding: .2em 1em;
	}
	/*Accordion styles*/
	.accordion-content, .ui-accordion-content {width: 77%;}
	/*Sidebar Navigation*/
	#nav_list ul li a {
		width: 100%;
		margin-left: auto;
		padding: .5em .8em
	}
}
/*iPhone 5 portrait*/
@media only screen and (max-width: 340px) {
		/*Accordion styles*/
		.ui-accordion-content img {width: 98%;}	
		.accordion-title {width: 84.5%; margin: auto; }
		.accordion-content, .ui-accordion-content {width: 73.5%;}
}








