/*
	Name: Rebecca Flake
	Current Date: 7/17/2017
	Class.section: CGS1821.CM1
	Assignment: Final Project 
	Language: CSS3
	Stylesheet for the index page effects
	Linked to: index.html
*/

/*Base Styles*/
main{ padding: 0;}
section{
	margin: 0;
	padding: 0; 
	width: 100%; 
	z-index: 2;
	position: relative;
}
footer {margin-top: 0;}
/* Styles for the parallax containers */
.bcg-parallax{
	position: relative;
	height: 900px 0;	
	overflow: hidden;
	width: 100%;
}
.bcg{
	position: absolute;
	height: 140%;
	width: 100%;
	max-width: 950px;
	background: url(../images/bkgrnd2.png) no-repeat; 
	background-size: cover;
	z-index: 1;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
}
.contentSection{border-radius: 3px; top: 0; opacity: 1; }

/*RWD*/
@media only screen and (max-width: 800px) {
	main{margin: 0;}
}

