/*
	Name: Rebecca Flake
	Current Date: 7/17/2017
	Class.section: CGS1821.CM1
	Assignment: Final Project 
	Language: CSS3
	Purpose: Stylesheet for project gallery effects
	Linked to: project_gallery.html
*/

/**Base Styles**/
main{ 
margin: 0; 
padding: 1em 0 0;
overflow: hidden;
}
section{ 
	margin: 0; 
	padding: 1em 0; 
	height: 4338px;
}
section h4 {
	font-family: "Spectral";
	padding: .2em;
	padding-top: 1em;
	font-size: 100%; 
	color: black;
	text-align: center;
	color: #FAFAFA;
}
.wrapper {
	height: 600px;
	width: 100%;  
	overflow: hidden;
	background-color: #FAFAFA; 
}
footer{ 
	background-color: #F0F0EF; 
	position: relative;
	width: 100%;
	display: block;
}
/*Link Style*/
a {color: #4CA393}

/**Styles for the slides**/
#slade {background-color: #FAFAFA;}
#capra {background-color: #F7F7F6;}
#harbor {background-color: #F5F5F4;}
#mitts {background-color: #F0F0EF;}
#octo {background-color: #EDEDEC;}
#animals {
	background-color: #E8E8E7; 
	height: 650px;
}
#vault {
	background-color: #E5E5E4;  
	height: 670px;
}

/*Styles for the text*/
.text {	
	border-radius: 4px;
	background-color: #BABFC2;
	padding: 0;
	display: block;
}
#sladetext, #harbortext, #octotext{
	width: 40%;
	margin: 15% 5%;
	float: left;
}
#vaulttext{
	width: 40%;
	margin: 15% 5%;
	float: left;
}
#capratext {
	float: right;
	width: 40%;
	margin: 15% 5%;
}
#mittstext{
	width: 35%;
	float: right;
	margin: 15% 7.4%;
}
 #animaltext{
	width: 35%;
	float: right;
	margin: 15% 7.5%;
}
div p{
	padding: 1em;
	color: #FAFAFA;
}

/**Media Div Styles**/
section img {
	max-width: 100%; 
	border: 1px solid #157A6E;
}
.sladeimgs {width: 100%;}	
#sladeimgs, #harborimg, #octoimg{  
	width: 50%;
	float: right;
	margin: auto;
	display: block;
	margin-top: 2.5em;
}
#vaultimg {
	width: 50%;
	float: right;
	margin: auto;
	display: block;
	margin-top: 2%;
}
#capraimg, #mittsimg{  
	display: block;
	float: left;
	margin: 5% .5%;
	max-width: 50%;
}
#animalimgs {
	float: left;
	width: 50%; 
	display: block;
	height: 100%;
}
#animalimg1 {
	display: block;
	float: left;
	max-width: 55%;
	margin-left: 2.5em;
	margin-top: 3em;
}
#animalimg2 {
	 display: block;
	 float: left;
	 max-width: 35%;
	 margin: 0;
	 margin-top: 3em;
}
.image_rollovers, .image_rollovers li{
	 width: 100%;
	 margin: 0;
	 padding: 0;
} 
	/*Image Styles*/
#harborimg img, #sladeimgs img, #octoimg img, #vaultimg img{
	margin-left: 15%;
	width: 70%;
	margin-top: 5%;
}
#capraimg img, #mittsimg img{ 
	width: 100%; 
	margin-top: 5%;
}
#animals img {max-width: 90%;}
#animalimg1 img{margin-bottom: .1em;}
#animalimg2 img{margin-bottom: .3em;}
#animalimg3 img {width: 100%;}
.image_rollovers img {margin-left: 15%;}

/***Responsive Design***/
/*iPhone 7 portrait*/
@media only screen and (max-width: 750px) {
	/*Base Styles*/
	section {height: 7000px; font-size: 130%; }
	.wrapper {height: 14.5%;}
	/*Styles for the Slides*/
	#vault {height: 13.75%; bottom: 1.65%;}
	#octo {height: 12.5%}
	#animals {height: 14.5%;}
	#slade, #capra {height: 14%;}
	/*Styles for the text*/
	#animaltext{width: 30%; margin-top: 10%;}
	#capratext, #harbortext,#octotext, #mittstext, #animaltext, #vaulttext {
		float: none; 
		width: 90%; 
		margin:  1em auto .5em;
		}
	#sladetext {float: none; width: 85%; margin: 1em auto .5em ;}
	/*Styles for the image divs*/
	#sladeimgs, #harborimg, #octoimg, #capraimg, #mittsimg, #animalimgs, #vaultimg {
		float: none; 
		width: 85%; 
		margin: auto; 
		margin-top: 0;
		}
	#sladeimgs{width: 85%;}
	#harborimg {width: 95%;}
	#capraimg, #mittsimg{ max-width: 65%;}
	#animalimg1 {float: left; width: 57%; margin-top: 1em; margin-left: 7%;}
	#animalimg2 {float: left; width: 34.3%; margin-top: 1em;}
	.image_rollovers img {margin-left: 0;}
}

/*Iphone 6Plus & nexus landscape*/
 @media only screen and (max-width: 740px) {
	/*Styles for the text*/
	section{font-size: 80%;}
	footer{font-size:70%;}
	#sladetext, #harbortext, #octotext{width: 40%; margin: 15% 5%; float: left;}
	#vaulttext{width: 40%; margin: 20% 5%; float: left;}
	#capratext {float: right; width: 40%; margin: 15% 5%;}
	#mittstext{width: 35%; float: right; margin: 15% 7.4%;}
	 #animaltext{width: 35%; float: right ;margin: 15% 7.5%;}
	/**Media Div Styles**/
	#sladeimgs, #harborimg, #octoimg{width: 50%; float: right; margin: auto; display: block; margin-top: 2.5em;}
	#vaultimg {width: 50%;float: right; margin: auto; display: block; margin-top: 5%;}
	#capraimg, #mittsimg{ display: block; float: left; margin: 5% .5%; max-width: 40%;}
	#animalimgs {float: left;width: 50%; display: block; height: 100%;}
	#animalimg1 {display: block;float: left; max-width: 55%; margin-left: 2.5em; margin-top: 3em;}
	#animalimg2 {display: block;float: left; max-width: 35%; margin: 0; margin-top: 3em;}
	.image_rollovers, .image_rollovers li{width: 100%; margin: 0;padding: 0;} 
		/*Image Styles*/
	#harborimg img, #sladeimgs img, #octoimg img, #vaultimg img{margin-left: 15%; width: 70%; margin-top: 5%;}
	#capraimg img, #mittsimg img{ width: 100%; margin-top: 5%;}
	#animals img {max-width: 90%;}
	#animalimg1 img{margin-bottom: .1em;}
	#animalimg2 img{margin-bottom: .3em;}
.image_rollovers img {margin-left: 15%;}
 }
 
 /*Galaxy 7 Portrait*/
 @media only screen and (max-width: 720px) {
	 	/*Base Styles*/
	section {height: 7000px; font-size: 130%; }
	.wrapper {height: 14.5%;}
	/*Styles for the Slides*/
	#vault {height: 13.75%; bottom: 1.65%;}
	#octo {height: 12.5%}
	#animals {height: 14.5%;}
	#slade, #capra {height: 14%;}
	/*Styles for the text*/
	#animaltext{width: 30%;}
	#capratext, #harbortext,#octotext, #mittstext, #animaltext, #vaulttext {
		float: none; 
		width: 90%; 
		margin:  1em auto .5em;
		}
	#sladetext {float: none; width: 85%; margin: 1em auto .5em ;}
	 /*Styles for the image divs*/
	#sladeimgs, #harborimg, #octoimg, #capraimg, #mittsimg, #animalimgs, #vaultimg {
		float: none; 
		width: 85%; 
		margin: auto; 
		margin-top: 0;}
	#sladeimgs{width: 85%;}
	#harborimg {width: 95%;}
	#capraimg{ max-width: 65%;}
	#mittsimg{ max-width: 70%;}
	#animalimg1 {float: left; width: 57%; margin-top: 1em; margin-left: 7%;}
	#animalimg2 {float: left; width: 35.3%; margin-top: 1em;}
	.image_rollovers img {margin-left: 0;}
}
 
 /* iPhone 6 landscape*/
@media only screen and (max-width: 667px){
	/*Styles for the text*/
	section{font-size: 80%;}
	footer{font-size:70%;}
	#sladetext, #harbortext, #octotext{width: 40%; margin: 15% 5%; float: left;}
	#vaulttext{width: 40%; margin: 15% 5%; float: left;}
	#capratext {float: right; width: 40%; margin: 15% 5%;}
	#mittstext{width: 35%; float: right; margin: 15% 7.4%;}
	 #animaltext{width: 35%; float: right ;margin: 15% 7.5%;}
	/**Media Div Styles**/
	#animalimg1, #animalimg2{margin-top: 20%;}
	 #octoimg,#harborimg, #sladeimgs, #vaultimg {margin-top: 7%;}
	 #octoimg img, #harborimg img{width: 75%}
	 #capraimg img, #mittsimg img  {width: 95%; margin-top:10%;}
	 #sladeimgs, #harborimg, #octoimg{width: 50%; float: right; margin: auto; display: block; margin-top: 2.5em;}
	#vaultimg {width: 50%;float: right; margin: auto; display: block; margin-top: 5%;}
	#capraimg, #mittsimg{ display: block; float: left; margin: 5% .5%; max-width: 40%;}
	#animalimgs {float: left;width: 50%; display: block; height: 100%;}
	#animalimg1 {display: block;float: left; max-width: 55%; margin-left: 2.5em; margin-top: 3em;}
	#animalimg2 {display: block;float: left; max-width: 35%; margin: 0; margin-top: 3em;}
	.image_rollovers, .image_rollovers li{width: 100%; margin: 0;padding: 0;} 
	 .image_rollovers img {margin-left: 15%;}
}
 /*Galaxy S6 landscape */
@media only screen and (max-width: 640px){
	#animalimg1 {max-width: 52.5%;}
	#animalimg2 {max-width: 33%;}
}
/*Iphone5 Landscape*/
@media only screen and (max-width: 568px){
	#octoimg,#harborimg, #sladeimgs, #vaultimg {margin-top: 9%;}
	#capraimg img, #mittsimg img {margin-top:10%;}
	#sladetext {margin-top: 13%;}
	#harbortext,#vaulttext{margin-top: 15%;}
	#octotext{margin-top: 20%;}
}
/*Nexus & Iphone6 Plus portrait*/
@media only screen and (max-width: 414px) {
	/*Base Styles*/
	section h2{ padding-top: 0;}
	section {height: 4000px} 
	section h4 {padding-bottom: 0;}
	/*Styles for the slides*/
	#slade {height: 14%;}
	#capra {height: 14.5%;}
	#harbor {height: 13.5%;}
	#mitts {height: 13%;}
	#octo {height: 12.5%;}
	#animals {height: 15.5%;}
	#vault {height: 15%;}
	/*Styles for the test*/
	div p {padding-top: 0;}
	#sladetext {float: none; width: 85%; font-size: 90%; margin: 1em auto .5em ;}
	#capratext, #harbortext,#octotext, #mittstext, #animaltext, #vaulttext {
		float: none;
		width: 90%;
		font-size: 90%; 
		margin:  1em auto .5em;}
	/*Styles for the image divs*/
	#sladeimgs, #harborimg, #octoimg, #capraimg, #mittsimg, #animalimgs, #vaultimg {
		float: none; 
		width: 100%; 
		margin: auto; 
		margin-top: 0;}
	#sladeimgs{ flaot: none; width: 95%;}
	#capraimg, #mittsimg{float: none; max-width: 70%; margin-left: 10%;}
	#animalimg1 {float: left; width: 55%; margin-top: 1em; margin-left: 8%;}
	#animalimg2 {float: left; width: 34.5%; margin-top: 1em;}
	.image_rollovers img {margin-left: 0;}
}
/*Iphone6 portrait*/
@media only screen and (max-width: 375px) {	
	/*Base Styles*/
	section {height: 5500px; font-size: 110%;}
	.wrapper {height: 12%;}
	/*Styles for the sections*/
	#harbor, #mitts, #octo, #capra, #mitts{height: 12%;}
	#vault{height: 12%;} 
	/*Styles for the images*/
	#capraimg, #mittsimg { max-width: 75%; margin-left: 14%;}
	#octoimg img {width: 80%; margin-left: 10%;}
	#sladeimgs img{width: 78%; margin-left:10%;}
	#vaultimg  img, #harborimg img {width: 75%; margin-left: 12%;}
	}
	/*Galaxy 6 Portrait*/
@media only screen and (max-width: 360px) {	 
	/*Base Styles*/
	section{font-size: 100%;}
	/*8Styles for the images**/
	#capraimg, #sladeimgs img, #vaultimg img {width: 70%; margin-left: 14%}
}